<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-image/iron-image.html">
<link rel="import" href="image-container-styles.html">
<dom-module id="image-container"> 
  <template>
    <style include="image-container-styles"></style>
    <div class="card-body">
      <div class$="{{image.styling}}">
        <img src="{{image.src}}">
      </div>
    </div>
  </template>

  <script src="image-container.js"></script>

</dom-module>