@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --image-container;
}

.card-body{
  display: var(--image-container-display, inline-flex);
  @apply --image-container;
}

@media (max-width: 360px) {
  .card-body {
    display: var(--image-container-display, block);
    padding-left: var(--image-container-padding-left, 2rem);
    @apply --image-container;
  }
}

// .info-image{
//   width: 50%;
//   padding-top: var(--image-container-padding-top, 2em);
//   @apply --image-container;
// }

img {
  max-width: var(--image-container-max-width, 100%);
  max-height: var(--image-container-max-heigth, 100%);
  @apply --image-container;
 }

.regular{
  /* top | right | bottom | left */
  padding: var(--image-container-padding, 2em 1em 0em 2em);
  width: var(--image-container-width, 300px);
  height: var(--image-container-height, 200px);
  @apply --image-container;
}

.custom{
  @apply --image-container;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
